div{
    display: "flex";
    justify-content: "center";
    align-Items: "center";
    min-Height: "100vh";
    
    
}



div>div>div>Card{
    display: flex;
    justify-items: center;
    align-items: center;
    column-gap: 30px;
    margin-top: 5%;
    margin-bottom: 3%;
    position: relative;
   
}

