

#fotoProfili{
    width:120px;
    height:120px;
    margin-left:2%;
    margin-top:8%;
}

.user-information {
    width: 25%; /* Adjust the width as desired */
  }
  .user-information>h5{
    font-weight: 100;
  }
  .bg-custom {
    background-color: #013C4D; /* Replace with your desired color */
  }
 .btn-costum{
    background-color:#B3E5FC;
 }
 .btn-costum:hover,
.btn-costum:active {
  background-color: #B3E5FC; /* Set the same background color for hover and active states */
}
  .account-settings {
    width: 100%; /* Adjust the width as desired */
  }

  .cards{
   
    margin-left:25%;
    margin-top:-30%;
  }

  
  
  
  
  


