  
  body{
    background-color: rgb(255, 255, 255);
    font-family: Arial,Helvetica,sans-serif;
       
   }
   
   

   #wishBanner {
    background-color:rgb(230, 230, 230);
    /* margin-left: 35%;
    margin-right: 35%; */
    margin:5% 30%;
    text-align: center;
    padding: 1%;
    width: 40%;
    /* border: solid 1px black; */
    border-radius: 10px;
  }

 

  #wishBanner h1 {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
   
  }
 
  .labels{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(162, 160, 160);
    margin: 5% 30%;
    padding: 1%;
    border-radius: 10px;
    width: 40%;
  }

.labels form {
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

.labels label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
  

}

.labels input {
  background-color: #706b6b;
  margin-top: 5px;
  padding: 10%;
  border: none;
  border-radius: 5px;
  border: solid 2px rgb(162, 160, 160);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(171, 171, 171, 0.1);
  
}


.labels button {
  background-color:rgba(213, 68, 28, 1);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  
}

.labels button:hover {
  background-color: rgb(3, 47, 57);
}

#vazhdo{
  padding-bottom: 15%;
  text-align: center;
 
}